@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: #1a1b1e; 
  color: #c9d1d9;
  font-family: 'Share Tech Mono', monospace; 
}

.text-neon-green {
  color: #00ff41 !important; 
}

.text-white {
  color: #eaf1e8 !important;
}

.text-neon-red {
  color: #ff003c !important;
}

.bounty-panel {
  background-color: #121418;
  border: 1px solid #30363d;
  padding: 15px;
  height: 100%;
}

.bounty-item {
  border-bottom: 1px dashed #30363d;
  padding: 10px 0;
}
.bounty-item:last-child {
  border-bottom: none;
}
.bounty-card {
  background-color: #212429;
  border: 2px solid #30363d;
  border-radius: 0; 
  box-shadow: 8px 8px 0px #0d1117; 
}

.form-control-bounty {
  background-color: #0d1117;
  border: 1px solid #30363d;
  color: #00ff41;
  border-radius: 0;
}

.form-control-bounty:focus {
  background-color: #000;
  border-color: #00ff41;
  box-shadow: none;
  color: #00ff41;
}

.form-control-bounty::placeholder {
  color: #555;
}

.btn-bounty {
  background-color: transparent;
  color: #00ff41;
  border: 2px solid #00ff41;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.btn-bounty:hover {
  background-color: #00ff41;
  color: #1a1b1e;
  box-shadow: 0 0 15px rgba(0, 255, 65, 0.4);
}

/* Neon Red Warning Buttons */
.btn-bounty-red {
  background-color: transparent;
  color: #ff003c;
  border: 1px solid #ff003c;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.btn-bounty-red:hover {
  background-color: #ff003c;
  color: #1a1b1e;
  box-shadow: 0 0 10px rgba(255, 0, 60, 0.4);
}